<!DOCTYPE html>
<html lang='en'>

<head>

    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Instructions</title>

    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO'
        crossorigin='anonymous'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49'
        crossorigin='anonymous'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy'
        crossorigin='anonymous'></script>

    <link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>

    <link rel='stylesheet' href="{{ url_for('static', filename='recipes.css') }}">

    <script>

        $(document).ready(function () {

        })

    </script>

</head>

<body>
    <header class="row">
        <div class="col-6">
            <h1>Welcome {{ session["user"]["name"] }}!</h1>
        </div>
        <div class="logout col">
            <a class="btn btn-warning" href="/dashboard">Dashboard</a>
        </div>
        <div class="logout col">
            <a class="btn btn-info" href="
            {% if 'hide_all' in session.keys() %}
            /view/all
            {% else: %}
            /view
            {% endif %}
            ">View Recipes</a>
        </div>
        <div class="logout col">
            <a class="btn btn-danger" href="/logout">Log Out</a>
        </div>
    </header>

    <h4>Instructions for {{ session["recipe"]["name"] }}:</h4>

    <div class="row border">
        <div class="col-3 align-right">
            <h5>Description:</h5>
            <h5>Likes:</h5>
            <h5>Under 30 minutes:</h5>
            <h5>Instructions:</h5>
        </div>
        <div class="col">
            <h5>{{ session["recipe"]["description"] }}</h5>
            <h5>{{ session["recipe"]["likes"] }}</h5>
            <h5>{{ session["recipe"]["under_30"] }}</h5>
            <h5>{{ session["recipe"]["instructions"] }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-2">
            <a class="btn btn-success" href="
            {% if 'hide_all' in session.keys() %}
            /view/all
            {% else: %}
            /view
            {% endif %}
            ">Go Back</a>
        </div>
        <div class="col">
            <a class="btn btn-info {{ session['hide_all'] }}" href="/edit/{{ session["recipe"]["id"] }}">Edit</a>
        </div>
        <div class="col-2">
            <a class="btn btn-info {{ session['hide_my'] }}" href="/like/instr/{{ session["recipe"]["id"] }}">Like!</a>
            <a class="btn btn-danger {{ session['hide_my'] }}" href="/unlike/instr/{{ session["recipe"]["id"] }}">Unlike</a>
            <a class="btn btn-danger {{ session['hide_all'] }}" href="/delete/{{ session["recipe"]["id"] }}">Delete</a>
        </div>
        <div class="col-3"></div>
    </div>
</body>

</html>